*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.icone{
margin-right: 10px;
color: grey;
}

.lightgrey{
    background-color: rgb(240, 232, 232);
}

.container{
width: 100%;
height: 600px;
background-color: aquamarine;
padding: 30px;
}


.cont-interno{
    width: 80%;
    height: 500px;
    margin:auto;
    background-color: white;
   
}

/* CONTENITORE SINISTRO */
.cont-sx{
    width: 40%;
    height: 500px;
    border: 1px solid lightgrey;
}
    
.cont-sx header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding: 5px;
}
    

.cont-sx img{
    width: 50px;
    border-radius: 100%;
    margin-right:10px;
}

.cont-notifiche{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: rgb(77, 216, 226);
}

.cont-notifiche a{
    color: grey;
}
.campana{
    color: rgb(77, 216, 226);
    padding: 5px;
    background-color: white;
    border-radius: 100%;
    margin-right: 10px;
}

.searchbar{
 padding: 10px;
 display: flex;
 align-items: center;
 
}
 

.left-searchbar{
    padding: 10px;
    width: 90%;
}
    

.lente{
    padding: 10px;
    background-color: white;
    color: grey;
}


.lista-persone{
    padding: 10px;
    overflow-y: scroll;
    height: 50vh;
    
}

.lista-persone ul{
    list-style: none;
    text-transform: capitalize;
}

.lista-persone ul li{
display: flex;
margin: 10px 0;
}




    
/* CONTENITORE DESTRO     */
.cont-dx{
    width: 60%;
    height: 500px;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/mine.jpg);
}

.cont-dx header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
    
    
#head-dx-scritte{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}    
    

.cont-dx img{
    width: 50px;
    border-radius: 100%;
    margin-right:10px;
} 

.foot-dx{
   padding: 5px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.msg-dx{
    width: 90%;
    padding: 10px;
}

.foot-dx i{
    color: grey;
}