<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/framework.css">
</head>
<body>

    <div id="app" class="container">

        <div class="cont-interno clearfix">

            <!-- CONTENITORE SINISTRO -->
             <div class="cont-sx float-left">

                 <!-- header contenitore sx -->
                <header class="lightgrey">
                    <div>
                        <div>
                            <img src="img/avatar_io.jpg" alt="">
                            <p>nome utente</p>
                        </div>
                        
                        <div>
                            <i class="fas fa-circle-notch icone"></i>
                            <i class="fas fa-comment-alt icone"></i>
                            <i class="fas fa-ellipsis-v icone"></i>
                        </div>
                        
                    </div>
                </header>
                 <!-- barra notifiche -->
                <div class="cont-notifiche">
                    <i class="fas fa-bell-slash campana"></i>
                    <div>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                 <!-- searchbar                  -->
                <div class="searchbar lightgrey">
                    <i class="fas fa-search lente"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" name="search" id="contacts-filter" class="left-searchbar">
                </div>
                 <!-- lista contatti-->
                <div class="lista-persone">
                    <ul>
                        
                        <li v-for='(contatto, index) in contatti' @click="setContattoAttivo(index)" >
                            <img :src="'img/avatar' + contatto.avatar + '.jpg'" alt="">{{contatto.name}}
                        </li>
                       

                    </ul>
                </div>
                    
            </div>

            <!-- CONTENITORE DESTRO -->
            <div class="cont-dx float-right">

                
                    <div class="lightgrey head-dx">
                        <div class="head-dx-img" >
                            <img :src="'img/avatar' + contatti[contattoAttivo].avatar + '.jpg'" alt="">
                            <div id="head-dx-scritte">
                                <p >{{contatti[contattoAttivo].name}}</p>
                                <p>ultimo accesso oggi alle...</p>
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-search icone"></i>
                            <i class="fas fa-paperclip icone"></i>
                            <i class="fas fa-ellipsis-v icone"></i>
                        </div>
                    </div>
                        
                    <div class="main-dx">
                        <div class="row">
                            <div class="col float-right utente">
                                
                            </div>
                        </div>
                                
                       <div class="row">
                            <div class="col float-left interlocutore" >

                                <div v-for='messaggio in contatti[contattoAttivo].messages'>{{messaggio.text}}</div> 
                                
                              
                            
                               
                            </div>
                        </div>
                    </div>
                        
                    <div class="foot-dx lightgrey">
                        <i class="far fa-smile "></i>
                        <input type="text" placeholder="Scrivi un messaggio" name="message" class="msg-dx">
                        <i class="fas fa-microphone "></i>
                    </div>
                            
                </div>
    
            </div>
        </div>
    
    
       <script src="js/script.js"></script>
    </body>
    </html>
                        
               
                
               
                    
                

                
                
              

            
                    